extends _misc/main

block title
	| Бренд

block content
	.page.page-brands
		.wrapper
			+menu('breadcrumbs', ['главная',  'Хиты продаж', 'Популярные бренды', 'Makita'])

		.wrapper
			.back-block
				a(href="#").back-link Makita
					+icon('arrow-left')
			
		include _sections/page-brands/brand-tiles		

		.catalog-chapter
			include _blocks/catalog-sort		

			.catalog-block
				.wrapper
					h2.sect-title Гайковерты 6
				.wrapper-smart
					- cards = [{billet: 'Новинка', price: '5 790 ₽', sale: '', sbers: '58', tilte: 'Аккумуляторный гайковерт Makita TD 110 DZ', aval: '2 магазинах', iconActive: '0'}, {billet: 'скидка', price: '20 889 ₽', sale: '25 889 ₽', sbers: '209', tilte: 'Аккумуляторный гайковерт Makita DTW 285 Z', aval: '6 магазинах', iconActive: false}, {billet: '', price: '7 850 ₽', sale: '', sbers: '253', tilte: 'Аккумуляторный гайковерт Makita DTW 300 Z', aval: '6 магазинах', iconActive: '0'}, {billet: '', price: '5 228 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный гайковерт Makita 6706 D', aval: '', iconActive: false, order: true,  analog: true}];
					
					.wrapper-flex.product-cards
						- for (var i=0; i < 2; i++)
							each item, i in cards
								.product-card
									.product-card__img-wrap
										if item.billet != ''
											div(class=item.billet == "акция" || item.billet == "скидка" ? "billet billet--action" : "billet billet--markdown")
												.billet__value= item.billet
												
												if item.billet == "акция" || item.billet == "скидка"
													+icon('percents')
												if item.billet == "уценка"
													+icon('attention')
												if item.billet == "Новинка"
													+icon('flame')
										
										a(href="#").product-card__border
											span.product-card__img
												img(src="img/page-brands/makita/"+(i+1)+".jpg" alt="alt")
									
									
									.product-card__price
										.product-card__actions
											if item.iconActive === '0'
												a(href="#").product-card__action.active
													+icon('favourites')
												a(href="#").product-card__action
													+icon('compare')
											else if item.iconActive === '1'
												a(href="#").product-card__action
													+icon('favourites')
												a(href="#").product-card__action.active
													+icon('compare')
											else if item.iconActive == false
												a(href="#").product-card__action
													+icon('favourites')
												a(href="#").product-card__action
													+icon('compare')

										a(href="#").product-price= item.price
											if item.sale != ''
												.product-price-sale= item.sale
										
										if item.sbers
											a(href="#").product-bonus
												.product-bonus__val= item.sbers
												+icon('bonus')
									
									a(href="#").product-card__name= item.tilte
									
									a(href="#").product-card__description 
										.product-card__description-row Напряжение акк.: 12 В
										.product-card__description-row Крутящий момент: 30 Н·м
										.product-card__description-row Емкость аккумулятора: 2 А·ч
										.product-card__description-row Тип аккумулятора Li-Ion
										.product-card__description-row Кол-во аккумуляторов: 2 шт.
										.product-card__description-row Вес 1.2 кг

									.product-card__bottom
										.product-card__rating-wrap
											.product-card__rating
												+crystalRating('4,5')
										if item.billet != ''
											a(href="#" class=item.billet=="уценка"? "btn btn-sm btn-yellow product-card__buy" : "btn btn-sm product-card__buy") Купить
										else if item.order
											a(href="#").btn.btn-sm.btn-blue.product-card__buy заказать
										
										else if item.analog || item.pullOut
											a(href="#").btn.btn-sm.btn-gray.product-card__buy аналог

										else
											a(href="#").btn.btn-sm.product-card__buy Купить

										.product-card__info.info-product-card
											if item.order && item.analog
												.info-product-card__row Артикул: 002266
												.info-product-card__row
													.info-product-card__missing #[span Товар] временно отсутствует
												.info-product-card__row
													a(href="#").info-product-card__oneclick Подобрать аналог
											else if item.order
												.info-product-card__row Артикул: 002266
												.info-product-card__row
													.info-product-card__missing #[span Товар] временно отсутствует
												.info-product-card__row
													a(href="#").info-product-card__oneclick Купить в 1 клик
											
											else if item.analog
												.info-product-card__row Артикул: 002266
												.info-product-card__row Нет в наличии, товар снят с производства 
											
											else
												.info-product-card__row Артикул: 002266
												.info-product-card__row
														.info-product-card__aval
															.info-product-card__avalkey В наличии
															a(href="#").info-product-card__avalvalue
																span.info-product-card__in= "В "
																| #{item.aval}
												.info-product-card__row
													a(href="#").info-product-card__oneclick Купить в 1 клик

			.catalog-block
				.wrapper
					h2.sect-title Шуруповерты 8
				.wrapper-smart
					- cards = [{billet: '', price: '5 269 ₽', sale: '', sbers: '99', tilte: 'Аккумуляторный шуруповерт Makita DF 033 DZ', aval: '17 магазинах', iconActive: '0'}, {billet: 'скидка', price: '11 190 ₽', sale: '6 411 ₽', sbers: '51', tilte: 'Аккумуляторный шуруповерт Makita TD 111 DZ', aval: '15 магазинах', iconActive: false}, {billet: '', price: '14 680 ₽', sale: '', sbers: '79', tilte: 'Аккумуляторный шуруповерт Makita DFR 750 Z', aval: '6 магазинах', iconActive: '0'}, {billet: '', price: '18 500 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный шуруповерт Makita DFS 451 RFE', aval: '', iconActive: false, order: true,  analog: true}, {billet: '', price: '22 899 ₽', sale: '', sbers: '229', tilte: 'Аккумуляторный шуруповерт Makita DFR 750 RFE', aval: '2 магазинах', iconActive: '0'}, {billet: '', price: '29 390 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный шуруповерт Makita DTD156RFE', aval: '', iconActive: false, order: true,  analog: true}, {billet: '', price: '20 349 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный шуруповерт Makita DFR 550 Z', aval: false, pullOut: true, analog: true, iconActive: false}, {billet: '', price: '7 490 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный шуруповерт Makita DFR 550 Z', aval: false, pullOut: true, analog: true, iconActive: false}];
					
					.wrapper-flex.product-cards
						each item, i in cards
							div(class=item.analog && item.pullOut ? "product-card product-card--pullout product-card--analog" : item.analog ? "product-card product-card--analog" : item.pullOut ? "product-card product-card--pullout" : "product-card")
								.product-card__img-wrap
									if item.billet != ''
										div(class=item.billet == "акция" || item.billet == "скидка" ? "billet billet--action" : "billet billet--markdown")
											.billet__value= item.billet
											
											if item.billet == "акция" || item.billet == "скидка"
												+icon('percents')
											if item.billet == "уценка"
												+icon('attention')
											if item.billet == "Новинка"
												+icon('flame')
									
									a(href="#").product-card__border
										span.product-card__img
											img(src="img/page-brands/makita/"+(i+5)+".jpg" alt="alt")
								
								
								.product-card__price
									.product-card__actions
										if item.iconActive === '0'
											a(href="#").product-card__action.active
												+icon('favourites')
											a(href="#").product-card__action
												+icon('compare')
										else if item.iconActive === '1'
											a(href="#").product-card__action
												+icon('favourites')
											a(href="#").product-card__action.active
												+icon('compare')
										else if item.iconActive == false
											a(href="#").product-card__action
												+icon('favourites')
											a(href="#").product-card__action
												+icon('compare')

									a(href="#").product-price= item.price
										if item.sale != ''
											.product-price-sale= item.sale
									if item.sbers
										a(href="#").product-bonus
											.product-bonus__val= item.sbers
											+icon('bonus')
								
								a(href="#").product-card__name= item.tilte
								
								a(href="#").product-card__description 
									.product-card__description-row Напряжение акк.: 12 В
									.product-card__description-row Крутящий момент: 30 Н·м
									.product-card__description-row Емкость аккумулятора: 2 А·ч
									.product-card__description-row Тип аккумулятора Li-Ion
									.product-card__description-row Кол-во аккумуляторов: 2 шт.
									.product-card__description-row Вес 1.2 кг

								.product-card__bottom
									.product-card__rating-wrap
										.product-card__rating
											+crystalRating('4,5')
									if item.billet != ''
										a(href="#" class=item.billet=="уценка"? "btn btn-sm btn-yellow product-card__buy" : "btn btn-sm product-card__buy") Купить
									else if item.order
										a(href="#").btn.btn-sm.btn-blue.product-card__buy заказать
									
									else if item.analog
										a(href="#").btn.btn-sm.btn-gray.product-card__buy аналог

									else
										a(href="#").btn.btn-sm.product-card__buy Купить

									.product-card__info.info-product-card
										if item.order && item.analog
											.info-product-card__row Артикул: 002266
											.info-product-card__row
												.info-product-card__missing #[span Товар] временно отсутствует
											.info-product-card__row
												a(href="#").info-product-card__oneclick Подобрать аналог
										else if item.order
											.info-product-card__row Артикул: 002266
											.info-product-card__row
												.info-product-card__missing #[span Товар] временно отсутствует
											.info-product-card__row
												a(href="#").info-product-card__oneclick Купить в 1 клик
										
										else if item.analog
											.info-product-card__row Артикул: 002266
											.info-product-card__row Нет в наличии, товар снят с производства 
										
										else
											.info-product-card__row Артикул: 002266
											.info-product-card__row
													.info-product-card__aval
														.info-product-card__avalkey В наличии
														a(href="#").info-product-card__avalvalue
															span.info-product-card__in= "В "
															| #{item.aval}
											.info-product-card__row
												a(href="#").info-product-card__oneclick Купить в 1 клик

			.catalog-block
				.wrapper
					h2.sect-title Перфораторы 8
				.wrapper-smart
					- cards = [{billet: '', price: '25 590 ₽', sale: '', sbers: '276', tilte: 'Аккумуляторный шуруповерт Makita DF 033 DZ', aval: '17 магазинах', iconActive: '0'}, {billet: '', price: '36 419 ₽', sale: '', sbers: '369', tilte: 'Аккумуляторный шуруповерт Makita TD 111 DZ', aval: '15 магазинах', iconActive: false}, {billet: '', price: '71 779 ₽', sale: '', sbers: '718', tilte: 'Аккумуляторный перфоратор Makita HR001GM201', aval: '6 магазинах', iconActive: '0'}, {billet: '', price: '23 090 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный перфоратор Makita HR001GM201', aval: '', iconActive: false, order: true,  analog: true}, {billet: '', price: '14 729 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный перфоратор Makita DHR 241 SYE', aval: false, pullOut: true, analog: true, iconActive: false}, {billet: '', price: '27 790 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный перфоратор Makita DHR 264 Z', aval: false, pullOut: true, analog: true, iconActive: false}, {billet: '', price: '14 729 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный перфоратор Makita DHR 241 SYE', aval: false, pullOut: true, analog: true, iconActive: false}, {billet: '', price: '27 790 ₽', sale: '', sbers: '', tilte: 'Аккумуляторный перфоратор Makita DHR 264 Z', aval: false, pullOut: true, analog: true, iconActive: false}];
					
					.wrapper-flex.product-cards
						each item, i in cards
							div(class=item.analog && item.pullOut ? "product-card product-card--pullout product-card--analog" : item.analog ? "product-card product-card--analog" : item.pullOut ? "product-card product-card--pullout" : "product-card")
								.product-card__img-wrap
									if item.billet != ''
										div(class=item.billet == "акция" || item.billet == "скидка" ? "billet billet--action" : "billet billet--markdown")
											.billet__value= item.billet
											
											if item.billet == "акция" || item.billet == "скидка"
												+icon('percents')
											if item.billet == "уценка"
												+icon('attention')
											if item.billet == "Новинка"
												+icon('flame')
									
									a(href="#").product-card__border
										span.product-card__img
											img(src="img/page-brands/makita/"+(i+12)+".jpg" alt="alt")
								
								
								.product-card__price
									.product-card__actions
										if item.iconActive === '0'
											a(href="#").product-card__action.active
												+icon('favourites')
											a(href="#").product-card__action
												+icon('compare')
										else if item.iconActive === '1'
											a(href="#").product-card__action
												+icon('favourites')
											a(href="#").product-card__action.active
												+icon('compare')
										else if item.iconActive == false
											a(href="#").product-card__action
												+icon('favourites')
											a(href="#").product-card__action
												+icon('compare')

									a(href="#").product-price= item.price
										if item.sale != ''
											.product-price-sale= item.sale
									if item.sbers
										a(href="#").product-bonus
											.product-bonus__val= item.sbers
											+icon('bonus')
								
								a(href="#").product-card__name= item.tilte
								
								a(href="#").product-card__description 
									.product-card__description-row Напряжение акк.: 12 В
									.product-card__description-row Крутящий момент: 30 Н·м
									.product-card__description-row Емкость аккумулятора: 2 А·ч
									.product-card__description-row Тип аккумулятора Li-Ion
									.product-card__description-row Кол-во аккумуляторов: 2 шт.
									.product-card__description-row Вес 1.2 кг

								.product-card__bottom
									.product-card__rating-wrap
										.product-card__rating
											+crystalRating('4,5')
									if item.billet != ''
										a(href="#" class=item.billet=="уценка"? "btn btn-sm btn-yellow product-card__buy" : "btn btn-sm product-card__buy") Купить
									else if item.order
										a(href="#").btn.btn-sm.btn-blue.product-card__buy заказать
									
									else if item.analog
										a(href="#").btn.btn-sm.btn-gray.product-card__buy аналог

									else
										a(href="#").btn.btn-sm.product-card__buy Купить

									.product-card__info.info-product-card
										if item.order && item.analog
											.info-product-card__row Артикул: 002266
											.info-product-card__row
												.info-product-card__missing #[span Товар] временно отсутствует
											.info-product-card__row
												a(href="#").info-product-card__oneclick Подобрать аналог
										else if item.order
											.info-product-card__row Артикул: 002266
											.info-product-card__row
												.info-product-card__missing #[span Товар] временно отсутствует
											.info-product-card__row
												a(href="#").info-product-card__oneclick Купить в 1 клик
										
										else if item.analog
											.info-product-card__row Артикул: 002266
											.info-product-card__row Нет в наличии, товар снят с производства 
										
										else
											.info-product-card__row Артикул: 002266
											.info-product-card__row
													.info-product-card__aval
														.info-product-card__avalkey В наличии
														a(href="#").info-product-card__avalvalue
															span.info-product-card__in= "В "
															| #{item.aval}
											.info-product-card__row
												a(href="#").info-product-card__oneclick Купить в 1 клик

		.pagination-wrapper
			+pagination([1, '...', 14, 15, 16, '...', 189], '')

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	script(src="js/libs/viewerjs/viewer.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================