extends _misc/main

block title
	| Подарочные карты

block content
	.page.page-gif-card
		.wrapper
			+menu('breadcrumbs', ['главная', 'Подарочные карты'])

		+backLink('Подарочные карты', true)

		.wrapper
			.gift-cards-img._fit
				img._fit-img(src="img/page-menu/gift-cards.jpg" alt="alt")
		
		section.page-main-sect
			.wrapper
				h2.sect-title Как это работает?
			
			- var steps = [{title: 'Первый шаг', txt: 'Выбирайте подарочную карту необходимого номинала'}, {title: 'Второй шаг', txt: 'Покупайте подарочную карту в любом розничном магазине Кубань Инструмент'}, {title: 'Третий шаг', txt: '3 Подарочной картой можно расплатиться во всех розничных магазинах Кубань Инструмент'}];
			.wrapper-smart
				.wrapper-flex.steps
					each item,i in steps
						.step
							.step__img
								img(src="img/page-menu/steps/"+(i+1)+".svg" alt="alt")
							
							.step__content
								.step__title= item.title
								.step__text= item.txt

		- var accs = ['Что такое подарочная карта?', 'Как работает подарочная карта?', 'Где я могу приобрести подарочную карту?', 'Могу ли я использовать сразу несколько подарочных карт одновременно?', 'Могу ли я получить остаток наличными, если сумма покупки меньше номинала карты?', 'Что делать, если я не успею воспользоваться подарочной картой?', 'Могу ли я получить остаток наличными, если сумма покупки меньше номинала карты?', 'Если суммы на подарочной карте не хватает для оплаты покупки, можно ли доплатить разницу?', 'Какие номиналы у подарочных карт КУБАНЬ ИНСТРУМЕНТ?', 'Какой товар можно приобрести в магазинах с использованием подарочной карты', 'Если я потеряю подарочную карту, можно её восстановить?', 'Нужны ли какие-то документы для покупки подарочной карты?', 'Если я буду дарить карту, как её можно красиво упаковать?'];
		.wrapper
			ul.accordion.std-accordion(data-accordion)
				each item,i in accs
					li(class=i==0? "accordion__item std-accordion__item active" : "accordion__item std-accordion__item")
						.accordion__link.std-accordion__link= item
							+icon('chev-right')
						div(class=i==0 ? "accordion__content std-accordion__content" :"accordion__content std-accordion__content hidden")
							p.std-par Если карта потерялась или ее украли, ее невозможно восстановить. Все потому, что на карте нет информации о том, кто и когда купил ее и мы не сможем отследить ее по владельцу. Постарайтесь не терять наши подарочные карты и храните их в укромном месте.
					

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	//- script(src="js/libs/viewerjs/viewer.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================