extends _misc/main

block title
	| Templat


block content
	.page.page-template
		include _sections/page-template/template-main-slider

		section.page-main-sect.categories-tiles.categories-tiles--template
			.wrapper
				h2.sect-title Категории
			.wrapper
				+swiper('categories-tiles__slider', true, false, true)
					- var content = [{title: 'Электро-инструменты', tags: ['Гайковерты', 'Шуруповерты', 'Перфораторы', 'Дрели', 'УШМ (болгарки)'], sm: 'Запчасти'}, {title: 'Ручной инструмент', tags: ['Наборы инструментов', 'Ударный и рычажный', 'Отвёртки', 'Ключи'], sm: 'Автотовары'},{title: 'Строительство и ремонт', tags: ['Пневмоинструмент', 'Малярное оборудование', 'Спецодежда'], sm: 'Стабилизаторы напряжения'},{title: 'Дом и сад', tags: ['Триммеры', 'Лестницы', 'Газонокосилки', 'Грили', 'Генераторы '], sm: 'Электро-станции'}];
						each item, ind in content
							.categories-tiles__column.swiper-slide
								.categories-tile.categories-tile--lg
									.categories-tile__title= item.title
									.tags
										each tag in item.tags
											a(href="").categories-tile__tag.tag= tag
									.categories-tile__img
										img(src="img/page-template/categories/"+(ind+1)+".png" alt="alt")
		
		include _sections/page-template/template-hits
		include _sections/page-template/products-slider
		include _sections/page-template/marked-banner
		include _sections/page-template/big-slider

		section.page-main-sect
			.wrapper
				h2.sect-title Категории

			.categories-tiles.categories-tiles--template
				.wrapper
					+swiper('categories-tiles__slider', true, false, true)
						- var content = [{title: 'Электро-инструменты', tags: ['Гайковерты', 'Шуруповерты', 'Перфораторы', 'Дрели', 'УШМ (болгарки)'], sm: 'Запчасти'}, {title: 'Ручной инструмент', tags: ['Наборы инструментов', 'Ударный и рычажный', 'Отвёртки', 'Ключи'], sm: 'Автотовары'},{title: 'Строительство и ремонт', tags: ['Пневмоинструмент', 'Малярное оборудование', 'Спецодежда'], sm: 'Стабилизаторы напряжения'},{title: 'Дом и сад', tags: ['Триммеры', 'Лестницы', 'Газонокосилки', 'Грили', 'Генераторы '], sm: 'Электро-станции'}];
							each item, ind in content
								.categories-tiles__column.swiper-slide
									.categories-tile.categories-tile--lg
										.categories-tile__title= item.title
										.tags
											each tag in item.tags
												a(href="").categories-tile__tag.tag= tag
										.categories-tile__img
											img(src="img/page-template/categories/"+(ind+1)+".png" alt="alt")
				
			- var tiles = ['Станки', 'Автотовары', 'Расходники<br>и оснастка', 'Электростанции', 'Запчасти', 'Стабилизаторы<br>напряжения', 'Измерительный<br>инструмент', 'Все категории'];
			
			.brands-tiles
				.wrapper-smart
					.wrapper-flex
						each item, i in tiles
							.categories-tiles__column
								a(href="#").categories-tile.categories-tile--sm.brands-tile
									.categories-tile__title!= item
									if i < 7
										.categories-tile__img
											img(src="img/page-brands/tiles/"+(i+1)+".svg" alt="alt")

		section.page-main-sect
			.wrapper
				h2.sect-title Категории

			.wrapper-smart
				.wrapper-flex
					- var tiles = ['Шуруповерты', 'Отвертки', 'Бетоно<br>мешалки', 'Газоно<br>косилки'];	
					each tile, i in tiles
						a(href="#").hits-tile
							if i < 11
								if tile == 'Бетоно<br>мешалки' || tile == 'Газонокосилки' ||  tile == 'Бензопилы'
									.hits-tile__img
										picture
											source(srcset="img/hits-tiles/"+(i+1)+"-xs.png" media="(max-width: 480px)")
											img._fit-img(src="img/hits-tiles/"+(i+1)+".png" alt="alt")
								else
									.hits-tile__img
										img(src="img/hits-tiles/"+(i+1)+".png" alt="alt")
							.hits-tile__name!= tile

			- var tiles = ['Станки', 'Автотовары', 'Расходники<br>и оснастка', 'Электростанции', 'Запчасти', 'Стабилизаторы<br>напряжения', 'Измерительный<br>инструмент', 'Все категории'];
			.brands-tiles
				.wrapper-smart
					.wrapper-flex
						each item, i in tiles
							.categories-tiles__column
								a(href="#").categories-tile.categories-tile--sm.brands-tile
									.categories-tile__title!= item
									if i < 7
										.categories-tile__img
											img(src="img/page-brands/tiles/"+(i+1)+".svg" alt="alt")
		.wrapper
			.simple-banner._fit
				img._fit-img(src="img/page-template/simple-banner.jpg" alt="alt")

		- var cards = [{billet: 'акция', price: '14 729 ₽', sale: '18 411 ₽', sbers: '29', tilte: 'Акк. безударная дрель-шуруповерт Bosch GSR 120 Li кейс 2x2 Ач 649861', aval: '12 магазинах', iconActive: '1'}, {billet: 'скидка', price: '5 070 ₽', sale: '6 411 ₽', sbers: '51', tilte: 'Лобзик Elitech ПЛ 0885 МЭ', aval: '7 магазинах', iconActive: false}, {billet: '', price: '7 850 ₽', sale: '', sbers: '79', tilte: 'Пневмогайковерт ударный Fubag IW 900 1/2" 100194', aval: '6 магазинах', iconActive: '1'}, {billet: '', price: '12 590 ₽', sale: '', sbers: '129', tilte: 'Угловая шлифовальная машина Makita GA 5041 R', aval: '2 магазинах', iconActive: false}, {billet: '', price: '22 899 ₽', sale: '', sbers: '229', tilte: 'Аккумуляторный перфоратор Bosch GBH 180-LI 0611911122', aval: '14 магазинах', iconActive: false}, {billet: '', price: '9 990 ₽', sale: '', sbers: '100', tilte: 'Компрессор Patriot Euro 24-240 525306365', aval: '8 магазинах', iconActive: false}, {billet: 'уценка', price: '10 990 ₽', sale: '11 990 ₽', sbers: '120', tilte: 'Нивелир лазерный Condtrol XLiner 360 G 1-2-134', aval: '1 магазине', iconActive: false}, {billet: 'уценка', price: '20 729 ₽', sale: '24 940 ₽', sbers: '249', tilte: 'Бетоносмеситель Сибртех БСЛ-200 95475', aval: '1 магазине', iconActive: '0'}];

		.wrapper.product-cards-slider
			.slider-navs
				.slider-nav.slider-nav--prev
					+icon('chev-down')
				.slider-nav.slider-nav--next
					+icon('chev-down')
			
			+swiper('products-slider', false, false, false)
				each item, i in cards
					div(class=item.analog ? "swiper-slide product-card product-card--analog" : "swiper-slide product-card")
						.product-card__img-wrap
							if item.billet != ''
								div(class=item.billet == "акция" || item.billet == "скидка" ? "billet billet--action" : item.billet == "Новинка" ? "billet billet--new" : "billet billet--markdown")
									.billet__value= item.billet

									if item.billet == "акция" || item.billet == "скидка"
										+icon('percents')
									if item.billet == "уценка"
										+icon('attention')
									if item.billet == "Новинка"
										+icon('flame')
							
							a(href="#").product-card__border
								span.product-card__img
									img(src="img/recomended/"+(i+1)+".jpg" alt="alt")
						
						
						.product-card__price
							.product-card__actions
								if item.iconActive === '0'
									a(href="#").product-card__action.active
										+icon('favourites')
									a(href="#").product-card__action
										+icon('compare')
								if item.iconActive === '1'
									a(href="#").product-card__action
										+icon('favourites')
									a(href="#").product-card__action.active
										+icon('compare')
								if item.iconActive === false
									a(href="#").product-card__action
										+icon('favourites')
									a(href="#").product-card__action
										+icon('compare')

							a(href="#").product-price= item.price
								if item.sale != ''
									.product-price-sale= item.sale
							if item.sbers != ""
								a(href="#").product-bonus
									.product-bonus__val= item.sbers
									+icon('bonus')
						
						a(href="#").product-card__name= item.tilte
						
						a(href="#").product-card__description 
							.product-card__description-row Напряжение акк.: 12 В
							.product-card__description-row Крутящий момент: 30 Н·м
							.product-card__description-row Емкость аккумулятора: 2 А·ч
							.product-card__description-row Тип аккумулятора Li-Ion
							.product-card__description-row Кол-во аккумуляторов: 2 шт.
							.product-card__description-row Вес 1.2 кг

						.product-card__bottom
							.product-card__rating-wrap
								.product-card__rating
									+crystalRating('4,5')
							if item.billet != ''
								a(href="#" class=item.billet=="уценка"? "btn btn-sm btn-yellow product-card__buy" : "btn btn-sm product-card__buy") Купить
							else if item.order
								a(href="#").btn.btn-sm.btn-blue.product-card__buy заказать
							
							else if item.analog
								a(href="#").btn.btn-sm.btn-gray.product-card__buy аналог

							else
								a(href="#").btn.btn-sm.product-card__buy Купить

							.product-card__info.info-product-card
								if item.order
									.info-product-card__row
										.info-product-card__missing #[span Товар] временно отсутствует
									.info-product-card__row
										a(href="#").info-product-card__oneclick Купить в 1 клик
								
								else if item.analog
									.info-product-card__row Нет в наличии, товар снят с производства 
								
								else
									.info-product-card__row
											.info-product-card__aval
												.info-product-card__avalkey В наличии
												a(href="#").info-product-card__avalvalue
													span.info-product-card__in= "В "
													| #{item.aval}
									.info-product-card__row
										a(href="#").info-product-card__oneclick Купить в 1 клик

		include _sections/page-template/carded-banner
		include _sections/page-template/chess
		include _sections/page-template/popular-ctgs

		include _includes/product-tooltip
block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	//- script(src="js/libs/viewerjs/viewer.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- tippy--------------------------
	//- https://atomiks.github.io/tippyjs/
	//- base using:  html: <button data-tippy-content="Tooltip">Text</button>; js: tippy('[data-tippy-content]');
	script(src="js/libs/tippy/popper.min.js")
	script(src="js/libs/tippy/tippy-bundle.umd.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================