extends _misc/main

block title
	| Эталлон

block content

	.wrapper-smart
		.wrapper-flex
			.catalog-test
					include _blocks/catalog-filter

			.ui-elems
				//- шапки
				.header__bottom
					.wrapper
						.header__bottom-wrapper
							a(href="#").header__logo-fixed
								img(src="img/logo-fixed.svg" alt="alt")
							button.header__catalog-toggle.catalog-toggle-header
								.catalog-toggle__burger
									+icon('ctlg-burger')
									+icon('ctlg-close')
								.catalog-toggle__type
									svg(width='74' height='14' viewBox='0 0 74 14' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M2.552 13.0001H0.423996V1.0001H2.552V6.47211L7.416 1.0001H8.952V2.15211L4.744 6.80811L9.352 11.7841V13.0001H7.672L2.552 7.48011V13.0001Z')
										path(d='M9.91187 13.0001V11.8801L14.2319 1.0001H16.1519L20.4559 11.7201V13.0001H18.7439L17.6079 10.0721H12.6799L11.5439 13.0001H9.91187ZM15.1439 3.57611L13.3199 8.32811H16.9679L15.1439 3.57611Z')
										path(d='M23.6402 2.79211H19.9602V1.0001H29.4482V2.79211H25.7682V13.0001H23.6402V2.79211Z')
										path(d='M28.8962 13.0001V11.8801L33.2162 1.0001H35.1362L39.4402 11.7201V13.0001H37.7282L36.5922 10.0721H31.6642L30.5282 13.0001H28.8962ZM34.1282 3.57611L32.3042 8.32811H35.9522L34.1282 3.57611Z')
										path(d='M40.0067 11.0321H40.4227C40.9561 11.0321 41.3561 10.6908 41.6227 10.0081C41.8894 9.32544 42.0441 8.20544 42.0867 6.64811L42.2307 1.0001H49.8947V13.0001H47.7507V2.79211H44.1187L44.0387 6.64811C44.0067 7.67211 43.9321 8.58411 43.8147 9.38411C43.6974 10.1734 43.5107 10.8348 43.2547 11.3681C42.9987 11.9014 42.6627 12.3068 42.2467 12.5841C41.8307 12.8614 41.3134 13.0001 40.6947 13.0001H40.0067V11.0321Z')
										path(d='M57.9845 13.1921C57.0885 13.1921 56.2725 13.0374 55.5365 12.7281C54.8112 12.4188 54.1872 11.9868 53.6645 11.4321C53.1525 10.8774 52.7525 10.2214 52.4645 9.46411C52.1765 8.69611 52.0325 7.85877 52.0325 6.95211C52.0325 6.05611 52.1765 5.23477 52.4645 4.48811C52.7525 3.73077 53.1525 3.08011 53.6645 2.53611C54.1872 1.99211 54.8112 1.57077 55.5365 1.27211C56.2725 0.962772 57.0885 0.808105 57.9845 0.808105C58.8805 0.808105 59.6912 0.962772 60.4165 1.27211C61.1525 1.57077 61.7765 1.99211 62.2885 2.53611C62.8112 3.08011 63.2165 3.73077 63.5045 4.48811C63.7925 5.23477 63.9365 6.05611 63.9365 6.95211C63.9365 7.85877 63.7925 8.69611 63.5045 9.46411C63.2165 10.2214 62.8112 10.8774 62.2885 11.4321C61.7765 11.9868 61.1525 12.4188 60.4165 12.7281C59.6912 13.0374 58.8805 13.1921 57.9845 13.1921ZM57.9845 11.4161C58.5712 11.4161 59.0992 11.3094 59.5685 11.0961C60.0378 10.8721 60.4378 10.5628 60.7685 10.1681C61.0992 9.77344 61.3552 9.30411 61.5365 8.76011C61.7178 8.20544 61.8085 7.60277 61.8085 6.95211C61.8085 6.31211 61.7178 5.72544 61.5365 5.19211C61.3552 4.65877 61.0992 4.20011 60.7685 3.81611C60.4378 3.42144 60.0378 3.11744 59.5685 2.90411C59.0992 2.69077 58.5712 2.58411 57.9845 2.58411C57.4085 2.58411 56.8858 2.69077 56.4165 2.90411C55.9472 3.11744 55.5472 3.42144 55.2165 3.81611C54.8858 4.20011 54.6298 4.65877 54.4485 5.19211C54.2672 5.72544 54.1765 6.31211 54.1765 6.95211C54.1765 7.60277 54.2672 8.20544 54.4485 8.76011C54.6298 9.30411 54.8858 9.77344 55.2165 10.1681C55.5472 10.5628 55.9472 10.8721 56.4165 11.0961C56.8858 11.3094 57.4085 11.4161 57.9845 11.4161Z')
										path(d='M66.0802 1.0001H73.1522V2.79211H68.2242V13.0001H66.0802V1.0001Z')

							.header__search.search-header
								form(action="#" class="form").search-header__form
									input(autocomplete="off" type="text" name="search" class="form__input search-header__input form__input--bg" placeholder="Поиск")
									button.search-header__send(type="submit")
										+icon('magnifier')
									button.search-header__back(type="button")
										+icon('arrow-left')

						.header__bottom-wrapper.header-catalog-opened
							a(href="#").header__logo-fixed
								img(src="img/logo-fixed.svg" alt="alt")
							button.header__catalog-toggle.catalog-toggle-header.header-catalog-opened
								.catalog-toggle__burger
									+icon('ctlg-burger')
									+icon('ctlg-close')
								.catalog-toggle__type
									svg(width='74' height='14' viewBox='0 0 74 14' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M2.552 13.0001H0.423996V1.0001H2.552V6.47211L7.416 1.0001H8.952V2.15211L4.744 6.80811L9.352 11.7841V13.0001H7.672L2.552 7.48011V13.0001Z')
										path(d='M9.91187 13.0001V11.8801L14.2319 1.0001H16.1519L20.4559 11.7201V13.0001H18.7439L17.6079 10.0721H12.6799L11.5439 13.0001H9.91187ZM15.1439 3.57611L13.3199 8.32811H16.9679L15.1439 3.57611Z')
										path(d='M23.6402 2.79211H19.9602V1.0001H29.4482V2.79211H25.7682V13.0001H23.6402V2.79211Z')
										path(d='M28.8962 13.0001V11.8801L33.2162 1.0001H35.1362L39.4402 11.7201V13.0001H37.7282L36.5922 10.0721H31.6642L30.5282 13.0001H28.8962ZM34.1282 3.57611L32.3042 8.32811H35.9522L34.1282 3.57611Z')
										path(d='M40.0067 11.0321H40.4227C40.9561 11.0321 41.3561 10.6908 41.6227 10.0081C41.8894 9.32544 42.0441 8.20544 42.0867 6.64811L42.2307 1.0001H49.8947V13.0001H47.7507V2.79211H44.1187L44.0387 6.64811C44.0067 7.67211 43.9321 8.58411 43.8147 9.38411C43.6974 10.1734 43.5107 10.8348 43.2547 11.3681C42.9987 11.9014 42.6627 12.3068 42.2467 12.5841C41.8307 12.8614 41.3134 13.0001 40.6947 13.0001H40.0067V11.0321Z')
										path(d='M57.9845 13.1921C57.0885 13.1921 56.2725 13.0374 55.5365 12.7281C54.8112 12.4188 54.1872 11.9868 53.6645 11.4321C53.1525 10.8774 52.7525 10.2214 52.4645 9.46411C52.1765 8.69611 52.0325 7.85877 52.0325 6.95211C52.0325 6.05611 52.1765 5.23477 52.4645 4.48811C52.7525 3.73077 53.1525 3.08011 53.6645 2.53611C54.1872 1.99211 54.8112 1.57077 55.5365 1.27211C56.2725 0.962772 57.0885 0.808105 57.9845 0.808105C58.8805 0.808105 59.6912 0.962772 60.4165 1.27211C61.1525 1.57077 61.7765 1.99211 62.2885 2.53611C62.8112 3.08011 63.2165 3.73077 63.5045 4.48811C63.7925 5.23477 63.9365 6.05611 63.9365 6.95211C63.9365 7.85877 63.7925 8.69611 63.5045 9.46411C63.2165 10.2214 62.8112 10.8774 62.2885 11.4321C61.7765 11.9868 61.1525 12.4188 60.4165 12.7281C59.6912 13.0374 58.8805 13.1921 57.9845 13.1921ZM57.9845 11.4161C58.5712 11.4161 59.0992 11.3094 59.5685 11.0961C60.0378 10.8721 60.4378 10.5628 60.7685 10.1681C61.0992 9.77344 61.3552 9.30411 61.5365 8.76011C61.7178 8.20544 61.8085 7.60277 61.8085 6.95211C61.8085 6.31211 61.7178 5.72544 61.5365 5.19211C61.3552 4.65877 61.0992 4.20011 60.7685 3.81611C60.4378 3.42144 60.0378 3.11744 59.5685 2.90411C59.0992 2.69077 58.5712 2.58411 57.9845 2.58411C57.4085 2.58411 56.8858 2.69077 56.4165 2.90411C55.9472 3.11744 55.5472 3.42144 55.2165 3.81611C54.8858 4.20011 54.6298 4.65877 54.4485 5.19211C54.2672 5.72544 54.1765 6.31211 54.1765 6.95211C54.1765 7.60277 54.2672 8.20544 54.4485 8.76011C54.6298 9.30411 54.8858 9.77344 55.2165 10.1681C55.5472 10.5628 55.9472 10.8721 56.4165 11.0961C56.8858 11.3094 57.4085 11.4161 57.9845 11.4161Z')
										path(d='M66.0802 1.0001H73.1522V2.79211H68.2242V13.0001H66.0802V1.0001Z')

							.header__search.search-header
								form(action="#" class="form").search-header__form
									input(autocomplete="off" type="text" name="search" class="form__input search-header__input form__input--bg" placeholder="Поиск" autofocus)
									button.search-header__send(type="submit")
										+icon('magnifier')
									button.search-header__back(type="button")
										+icon('arrow-left')
					

						//- иконки
						.header__actions.icons-row
							a(href="#").header__account.header__action
								+icon('user')
							a(href="#").header__action.header__compare
								+icon('compare')
								.header__action-count 2
							a(href="#").header__action.header__favourites
								+icon('favourites')
								.header__action-count 10
							a(href="#").header__action.header__basket
								+icon('basket')
								.header__action-count 10

						.header__actions.icons-row
							a(href="#").header__account.header__action.active
								+icon('user')
							a(href="#").header__action.header__compare.active
								+icon('compare')
								.header__action-count 2
							a(href="#").header__action.header__favourites.active
								+icon('favourites')
								.header__action-count 10
							a(href="#").header__action.header__basket.active
								+icon('basket')
								.header__action-count 10

						.icons-row
							a(href="#").header__action.header__compare.gray
								+icon('compare')
								.header__action-count 2
							a(href="#").header__action.header__favourites.gray
								+icon('favourites')
								.header__action-count 10

				//- цвета
				.ui-colors
					.icons-row
						.ui-colors__item.bg_gray-l
					.icons-row
						- var colorsL = ['yellow-l', 'red-l', 'blue-l', 'accent-l', 'text-l'];
							each color in colorsL
								div(class="ui-colors__item bg_" + color)

					.icons-row
						- var colors = ['yellow', 'red', 'blue', 'accent', 'text'];
							each color in colors
								div(class="ui-colors__item bg_" + color)

				//- отзыв
				article.review
					header.review__header
						.person
							.person__top
								.person__portrait
									//- img(src="img/person.jpg" alt="alt")
								.person__info
									.person__name Иванов Иван
									.person__date 12 декабря 2021
							.person__rating
								.person__rating-wrap
										+starRating(2)
								.person__rating-mark Плохой товар
						
						.review__context.context-review
							+icon('context')
							a(href="#").context-review__drop Пожаловаться

					.review__body
						.review__div
							.review__title Опыт использования
							p.review__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

						.review__div
							.review__title Достоинства
							p.review__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 

						.review__div
							.review__title Недостатки
							p.review__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
							p.review__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 

					footer.review__footer
						.review__photos
							- for (var i=0; i < 2; i++)
								.review__photo._fit
									img._fit-img(src="img/review/thumbs/"+(i+1)+".jpg" alt="alt")

						.review__actions
							button(type="button").review__collapse Свернуть
							.review__options
								a(href="#").review__answer Ответить
								a(href="#").review__comments.review__option
									+icon('chat')
									.review__comments-count 1
								a(href="#").review__like.review__option.active
									+icon('like')
									.review__like-count 1
								a(href="#").review__dislike.review__option
									+icon('unlike')
									.review__dislike-count 0

				- var tags = ['СКИДКИ', 'АКЦИИ', 'МОИ ЗАКАЗЫ', '23 ФЕВРАЛЯ', 'лендинг', 'Новинки'];
				.tags
					each tag, i in tags
						div(class=i<=2 ? "tag active": 'tag')= tag

			
				//- карточка товара вертик.
				.product-card
					.product-card__img-wrap
						.billet.billet--new Новинка 
						a(href="#").product-card__border
							span.product-card__img
								img(src="img/product-card/prod-lg.jpg" alt="alt")
					
					
					.product-card__price
						.product-card__actions
							a(href="#").product-card__action.active
								+icon('favourites')
							a(href="#").product-card__action
								+icon('compare')
						a(href="#").product-price 8 390 ₽
							.product-price-sale 18 411₽
						a(href="#").product-bonus
							.product-bonus__val 99
							+icon('bonus')
					
					a(href="#").product-card__name Вентилятор аккумуляторный Makita DCF 102 Z
					
					a(href="#").product-card__description 
						.product-card__description-row Напряжение акк.: 12 В
						.product-card__description-row Крутящий момент: 30 Н·м
						.product-card__description-row Емкость аккумулятора: 2 А·ч
						.product-card__description-row Тип аккумулятора Li-Ion
						.product-card__description-row Кол-во аккумуляторов: 2 шт.
						.product-card__description-row Вес 1.2 кг

					.product-card__bottom
						.product-card__rating-wrap
							.product-card__rating
								+crystalRating('4,5')
						a(href="#").btn.btn-sm.product-card__buy Купить
						
						.product-card__info.info-product-card
							.info-product-card__row Артикул: 002266
							.info-product-card__row
								.info-product-card__aval
									.info-product-card__avalkey В наличии
										a(href="#").info-product-card__avalvalue 6 магазинах
							.info-product-card__row
								a(href="#").info-product-card__oneclick Купить в 1 клик
				
				//- карточка товара гориз.
				.product-card.product-card--horisontal
					.product-card__img-wrap
						.billet.billet--action скидка 
						a(href="#").product-card__border
							span.product-card__img
								img(src="img/product-card/prod-md.jpg" alt="alt")
					
					
					.product-card__price
						.product-card__actions
							a(href="#").product-card__action.active
								+icon('favourites')
							a(href="#").product-card__action
								+icon('compare')
						a(href="#").product-price 8 390 ₽
							.product-price-sale 18 411₽
						a(href="#").product-bonus
							.product-bonus__val 99
							+icon('bonus')
					
					a(href="#").product-card__name Аккумуляторный гайковерт Patriot BR180Li-1/2 180301140
					
					a(href="#").product-card__description 
						.product-card__description-row Напряжение акк.: 12 В
						.product-card__description-row Крутящий момент: 30 Н·м
						.product-card__description-row Емкость аккумулятора: 2 А·ч
						.product-card__description-row Тип аккумулятора Li-Ion
						.product-card__description-row Кол-во аккумуляторов: 2 шт.
						.product-card__description-row Вес 1.2 кг

					.product-card__bottom
						.product-card__rating-wrap
							.product-card__rating
								+crystalRating('4,5')
						a(href="#").btn.btn-sm.product-card__buy Купить
						
						.product-card__info.info-product-card
							.info-product-card__row Артикул: 002266
							.info-product-card__row
								.info-product-card__aval
									.info-product-card__avalkey В наличии
									a(href="#").info-product-card__avalvalue 6 магазинах
							.info-product-card__row
								a(href="#").info-product-card__oneclick Купить в 1 клик
		
				//- карточка товара мини.
				include _blocks/product-card-mini

				//- эл-ты. формы
				.form__example
					form.form(action='#')
						.form__row
							.form__row-title.form__row-title--required Тип плательщика*
							- var types = ['Физическое лицо', 'Юридическое лицо'];
								.wrapper-flex
									each item, ind in types
										label.form__custom.form__type
											input.form__check(type='radio' name='type' value='chekbox1' checked=ind==0 ? true : false required='required')
											span.form__custom-chek
											span.form__policy= item

						.form__row
							.form__row-title.form__row-title--required Покупатель*
							label.form__label
								input.form__input(autocomplete="off" type='text' name='name' placeholder='Фамилия*')
							
							label.form__label
								input.form__input.form__input--bg(autocomplete="off" type='text' name='phone' placeholder='Имя*')
							
							label.form__label
								input.form__input(autocomplete="off" type='text' name='phone' placeholder='Отчество*')

							label.form__label.form__label--error
								input.form__input.form__input--bg(autocomplete="off" type='text' name='phone' placeholder='Отчество*' value="Ива8нович55")
								+icon('attention')
							
							label.form__label
								// textarea.form__area(type='text' name='question')
								input.form__input(autocomplete="off" type='text' name='email' placeholder='Email*')

						.form__row
							.form__row-title.form__row-title--required Способ получения*
							.form__deliveries.deliveries-form
								.wrapper-flex
									- var delivs = ['Самовывоз из пункта выдачи', 'Доставка курьером'];
									each item, ind in delivs
										.form__custom-policy.delivery-form
											label.form__custom
												input.form__check(type='radio' name='delivery-type' value='value' checked=ind==1 ? true : false required='required')
												span.delivery-form__btn= item
													+icon('chev-down')
								.deliveries-form__text
									| Курьерская служба магазина с 12:00 до 18:00.
									br
									| Курьер уточнит удобную для вас дату доставки.
								.deliveries-form__note Обращаем Ваше внимание, что подъем и выгрузка товара на этаж не осуществляется.

						.form__row
							.form__row-title.form__row-title--required Оплата*
							.form__row-content
								- var kinds = ['Оплата картой на сайте', 'СберСпасибо - оплата на сайте', 'Оплата при получении', 'Выставить счет для предоплаты безналичным платежом', 'Оплата СБП (сервис быстрых платежей)', 'В кредит'];
								each item, ind in kinds
									.form__custom-policy
										label.form__custom
											input.form__check(type='radio' name='payment' value='chekbox1' checked=ind==0 ? true : false required='required')
											span.form__custom-chek
											span.form__policy= item

											span.form__hidden-text Оплата наличными или банковской картой при получении заказа.
												span.form__hidden-note Обратите внимание ! 
													br
													| При этом способе расчёта недоступно использование бонусов "Спасибо" от Сбербанка.
						.form__row
							.form__row-title.form__row-title--required Комментарии к заказу
							label.form__label
								textarea.form__area(type='text' name='question' placeholder="Есть что добавить?")
				
				//- кнопки
				.ui-buttons
					div
						button.btn.btn-lg.btn-order Отправить заявку
						// button.btn.btn-lg.btn-order.btn-empty Отправить заявку
					div
						button.btn.btn-lg.btn-order.btn-red оставить заявку
						// button.btn.btn-lg.btn-order.btn-red.btn-empty оставить заявку
					div
						button.btn.btn-lg.btn-order подтвердить телефон
						// button.btn.btn-lg.btn-order.btn-empty подтвердить телефон
					div
						button.btn.btn-lg.btn-bonus ОФОРМИТЬ БОНУСНУЮ КАРТУ
					div
						// button.btn.btn-lg.btn-bonus.btn-empty ОФОРМИТЬ БОНУСНУЮ КАРТУ

					div
						button.btn.btn-lg.btn-order-check перейти к оформлению
						// button.btn.btn-lg.btn-order-check.btn-empty перейти к оформлению
					div
						button.btn.btn-lg.btn-order-check оформить заказ
						// button.btn.btn-lg.btn-order-check.btn-empty оформить заказ
					div
						button.btn.btn-lg.btn-select Выбрать
						// button.btn.btn-lg.btn-select.btn-empty Выбрать
					div
						button.btn.btn-lg.btn-select Выбрать
						// button.btn.btn-lg.btn-select.btn-empty Выбрать

					div
						button.btn.btn-sm.btn-loc Как добраться
						// button.btn.btn-sm.btn-loc.btn-empty Как добраться
					div
						button.btn.btn-sm в каталог
						button.btn.btn-sm.btn-empty в каталог
					div
						button.btn.btn-sm.btn-gray на главную

					div
						button.btn.btn-sm Купить
					div
						button.btn.btn-sm.btn-yellow Купить
					div
						button.btn.btn-sm.btn-sm.btn-buy.clicked
							span.btn__val Купить
							.counter(data-min="0" data-max="100")
								span.counter__button.counter-minus
									+icon('minus')
								.counter__block
									input(autocomplete="off" type="hidden" name="name" value="1" )
									.counter__count 1
									.counter__measures шт
								span.counter__button.counter-plus
									+icon('plus')
					div
						button.btn.btn-yellow.btn-sm.btn-buy.clicked
							span.btn__val Купить
							.counter(data-min="0" data-max="100")
								span.counter__button.counter-minus
									+icon('minus')
								.counter__block
									input(autocomplete="off" type="hidden" name="name" value="1" )
									.counter__count 1
									.counter__measures шт
								span.counter__button.counter-plus
									+icon('plus')
					div
						button.btn.btn-sm.btn-blue заказать
					div
						button.btn.btn-sm.btn-gray аналог
					div
						button.btn.btn-sm.btn-red подарок

				//- плашки
				.billet.billet--new новинка
				.billet.billet--markdown уценка
				.billet.billet--action Акция

				div
					.billet.billet--mini.billet--new
					.billet.billet--mini.billet--markdown
					.billet.billet--mini.billet--action

	
				//- соцсети
				- var socs = ['soc-vk', 'soc-pint', 'soc-ok', 'soc-tg', 'soc-youtb'];
					ul.socials.socials--colored
						each soc in socs
							li.socials__item
								a(href="#" class="socials__link socials__link--" + soc)
									+icon(soc)
				ul.socials
					each soc in socs
						li.socials__item
							a(href="#" class="socials__link socials__link--" + soc)
								+icon(soc)

				// .cart-round-icon
				// 	+icon('cart')
	
				//- пагинация
				
				+pagination([1, '...', 14, 15, 16, '...', 189], '')

				//- категории
				- var content = [{title: 'Электро-инструменты', tags: ['Гайковерты', 'Шуруповерты', 'Перфораторы', 'Дрели', 'УШМ (болгарки)'], sm: 'Электро-станции'}];
				each item, ind in content
					.categories-tiles__column
						.categories-tile.categories-tile--lg
							.categories-tile__title= item.title
							.tags
								each tag in item.tags
									a(href="").categories-tile__tag.tag= tag
							.categories-tile__img
								img(src="img/categories-tiles/bitmaps/"+(ind+1)+".png" alt="alt")

						a(href="#").categories-tile.categories-tile--sm
							.categories-tile__title= item.sm
							.categories-tile__img
								img(src="img/categories-tiles/svgs/4.svg" alt="alt")

				//- модальные окна
				include _blocks/side-modals	
	
	//- .wrapper.rating
	//- 	h2 Rating in reviews
	//- 	+simpleRating(3)

	//- 	h2 Rating in product card
	//- 	+crystalRating('4,5')
	//- 	+crystalRating('1,5')
	//- 	+crystalRating(5)

	//- .wrapper.ics
	//- 	- var icons = ['attention', 'basket', 'cart', 'catalog-mob', 'catalog', 'chat', 'chats', 'compare', 'ctlg-burger', 'ctlg-close', 'favourites', 'flame', 'home', 'like', 'loc', 'magnifier', 'percents', 'phone', 'remove', 'soc-ok', 'soc-pint', 'soc-tg', 'soc-twi', 'soc-vk', 'soc-youtb', 'unlike', 'user', 'm-menu'];
	//- 	each ic in icons
	//- 		+icon(ic)
	
	//- .wrapper
	//- 	.my-slider#gallery
	//- 		- var imgs = ['https://upload.wikimedia.org/wikipedia/commons/2/23/%D0%90%D0%B2%D0%B0%D0%B4%D1%85%D0%B0%D1%80%D0%B0._%D0%92%D0%B8%D0%B4_%D0%BD%D0%B0_%D1%81%D0%B5%D0%B2%D0%B5%D1%80.JPG', 'https://cdnn21.img.ria.ru/images/103766/29/1037662948_0:73:1200:753_600x0_80_0_0_47ddadf192368680c6bda4fadeb34c62.jpg', 'https://media-cdn.tripadvisor.com/media/photo-s/09/be/57/af/caption.jpg'];
	//- 		each img in imgs
	//- 			.my-slide
	//- 				._fit
	//- 					img(src= img alt="alt" class="_fit-img") 

	//- 	#customize-thumbnails.thumbnails
	//- 		.my-thumb
	//- 			img(src="https://upload.wikimedia.org/wikipedia/commons/2/23/%D0%90%D0%B2%D0%B0%D0%B4%D1%85%D0%B0%D1%80%D0%B0._%D0%92%D0%B8%D0%B4_%D0%BD%D0%B0_%D1%81%D0%B5%D0%B2%D0%B5%D1%80.JPG")
	//- 		.my-thumb
	//- 			img(src="https://cdnn21.img.ria.ru/images/103766/29/1037662948_0:73:1200:753_600x0_80_0_0_47ddadf192368680c6bda4fadeb34c62.jpg")
	//- 		.my-thumb
	//- 			img(src="https://media-cdn.tripadvisor.com/media/photo-s/09/be/57/af/caption.jpg")
		
block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	script(src="js/libs/viewerjs/viewer.js")
	
	//- wNumb--------------------------
	script(src="js/libs/wnumb/wNumb.js")

	//- noUiSlider--------------------------
	script(src="js/libs/noUiSlider/nouislider.min.js")


	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================