.wrapper-smart
	.wrapper-flex.carded-banner
		.carded-banner__img._fit
			img._fit-img(src="img/page-template/carded-banner.jpg" alt="alt")
		
		.carded-banner__card
			- var cards = [{billet: 'скидка', price: '5 070 ₽', sale: '6 411 ₽', sbers: '51', tilte: 'Лобзик Elitech ПЛ 0885 МЭ', aval: '7 магазинах', iconActive: false}];
				each item, i in cards
					.product-card
						.product-card__img-wrap
							if item.billet != ''
								div(class=item.billet == "акция" || item.billet == "скидка" ? "billet billet--action" : "billet billet--markdown")
									.billet__value= item.billet
									
									if item.billet == "акция" || item.billet == "скидка"
										+icon('percents')
									if item.billet == "уценка"
										+icon('attention')
									if item.billet == "Новинка"
										+icon('flame')
							
							a(href="#").product-card__border
								span.product-card__img
									img(src="img/hits-section/2.jpg" alt="alt")
						
						
						.product-card__price
							.product-card__actions
								if item.iconActive === '0'
									a(href="#").product-card__action.active
										+icon('favourites')
									a(href="#").product-card__action
										+icon('compare')
								else if item.iconActive === '1'
									a(href="#").product-card__action
										+icon('favourites')
									a(href="#").product-card__action.active
										+icon('compare')
								else if item.iconActive == false
									a(href="#").product-card__action
										+icon('favourites')
									a(href="#").product-card__action
										+icon('compare')

							a(href="#").product-price= item.price
								if item.sale != ''
									.product-price-sale= item.sale
							a(href="#").product-bonus
								.product-bonus__val= item.sbers
								+icon('bonus')
						
						a(href="#").product-card__name= item.tilte
						
						a(href="#").product-card__description 
							.product-card__description-row Напряжение акк.: 12 В
							.product-card__description-row Крутящий момент: 30 Н·м
							.product-card__description-row Емкость аккумулятора: 2 А·ч
							.product-card__description-row Тип аккумулятора Li-Ion
							.product-card__description-row Кол-во аккумуляторов: 2 шт.
							.product-card__description-row Вес 1.2 кг

						.product-card__bottom
							.product-card__rating-wrap
								.product-card__rating
									+crystalRating('4,5')
							if item.billet != ''
								a(href="#" class=item.billet=="уценка"? "btn btn-sm btn-yellow product-card__buy" : "btn btn-sm product-card__buy") Купить
							else
								a(href="#").btn.btn-sm.product-card__buy Купить

							.product-card__info.info-product-card
								.info-product-card__row
									.info-product-card__aval
										.info-product-card__avalkey В наличии
										a(href="#").info-product-card__avalvalue
											span.info-product-card__in= "В "
											| #{item.aval}
								.info-product-card__row
									a(href="#").info-product-card__oneclick Купить в 1 клик