div(class=pageIndex=='product_015' ? "wrapper-smart page-product__top page-product__top--sale top-page-product" : pageIndex=='product_017' ? "wrapper-smart page-product__top page-product__top--analog top-page-product" : pageIndex=='product_018' ? "wrapper-smart page-product__top page-product__top--absent top-page-product" : pageIndex=='product_019' ? "wrapper-smart page-product__top page-product__top--action top-page-product" : "wrapper-smart page-product__top top-page-product")
	.wrapper-flex
		.page-product__represent
			h1.product-title Акк. безударная дрель-шуруповерт Bosch GSR 120 Li кейс 2x2 Ач 649861
			
			.product-info.wrapper-flex(data-da="product-sidebar,576,last")
				.product-info__left
					.product-info__rating
						+crystalRating('4,5')

						a(href="#").std-link 4 отзыва
					
					.product-info__col
						if pageIndex == 'product_017'
							.product-info__vailability
								.product-info__aval-key Нет в наличии, товар снят с производства
						
						else
							.product-info__vailability
								.product-info__aval-key В наличии
								a(href="#" data-modal-address).product-info__aval-val 6 магазинах
						
					.product-info__col
						a(href="#").std-link.product-info__analog Подобрать 
							br
							| аналог
				
				if pageIndex !== 'product_017'
					a(href="#" data-da="product-info__left,767.98,last").std-link.product-chars__trace Отследить 
						br
						| цену и наличие

			.wrapper-flex.page-product__represent-container
				.product-view
				
					.product-view__screen.screen-product-view#product-image-gallery
						if pageIndex=='product_015'
							.billet.billet--markdown уценка
						if pageIndex=='product_019'
							.billet.billet--action Акция
							
						+swiper('screen-product-slider', true, false, false)
							- for (var i=0; i < 7; i++)
								.swiper-slide.screen-product-view__slide._fit
									img._fit-img(src="img/page-product-card/slider/sm/"+i+".jpg" alt="alt")
					
					.product-view__nav.screen-product-nav
						+swiper('screen-product-thumbs', true, false, true)
							- for (var i=0; i < 7; i++)
								.swiper-slide.screen-product-nav__slide
									._fit
										img._fit-img(src="img/page-product-card/slider/sm/"+(i+1)+".jpg" alt="alt")

				.product-chars
					.product-chars__table.table-product-chars
						- var keys = ['Напряжение аккумулятора', 'Максимальный крутящий момент', 'Количество скоростей работы', 'Max частота вращения шпинделя', 'Тип двигателя', 'Тип патрона', 'Диаметр зажимаемой оснастки', 'Режим сверления', 'Возможность быстрой смены патрона', 'Количество аккумуляторов', 'Емкость аккумулятора','Зарядное устройство в комплекте'];
						- var values = ['12 в', '28 Н/м', '1', '600 об/мин', 'щеточный' , 'быстрозажимной', '0.8-10 мм', 'Да', 'Да' , '1', '1.3  а*ч', 'Да'];

						each key, i in keys
							.table-product-chars__row
								.table-product-chars__key= key
								.table-product-chars__value= values[i]

					a(href="#").std-link.product-chars__more Подробнее
			
			include product-card-tabs

		aside.page-product__sidebar(data-da="page-product__represent,767.98,3")
			.product-sidebar
				.product-sku Артикул: 002266
				.product-actions(data-da="product-view,767.98,first")
					button(type="button").product-action
						+icon('compare')
						span.product-action__name Сравнить

					button(type="button").product-action
						+icon('favourites')
						span.product-action__name В избранное

				.product-price-block
					.product-price__vals
						.product-price__std 14 729 ₽ 
						.product-price__sale 18 411 ₽ 

					.product-bonus
						.product-bonus__val 29
						+icon('bonus')
						.product-bonus__note бонусов


				.product-sidebar__possibilities
					if pageIndex=='product_015'
						button(type="button").btn.btn-lg.btn-yellow в корзину
						a(href="#").btn.btn-lg.product-oneclick купить в 1 клик
					else if pageIndex=='product_017'
						button(type="button").btn.btn-lg.btn-gray Подобрать аналог
					else if pageIndex=='product_018'
						button(type="button").btn.btn-lg.btn-blue заказать
					else if pageIndex=='product_019'
						button(type="button").btn.btn-lg.btn-red в корзину
						a(href="#").btn.btn-lg.product-oneclick Быстрый заказ
					else
						button(type="button").btn.btn-lg в корзину
						a(href="#").btn.btn-lg.product-oneclick купить в 1 клик

				if pageIndex=='product_015'
					.product-sidebar__status.status-product-sidebar
						.status-product-sidebar__title Уцененный товар
						.status-product-sidebar__text Причина уценки: на корпусе инструмента присутствуют мелкие царапины 
				
				else if pageIndex=='product_017' 
					.product-sidebar__status.status-product-sidebar
						.status-product-sidebar__title Архивный товар
						.status-product-sidebar__text К сожалению данный товар снят с производства или не поставляется по другим причинам. 
				
				else if pageIndex=='product_018'
					.product-sidebar__status.status-product-sidebar
						.status-product-sidebar__title Товар временно отсутствует 
						.status-product-sidebar__text Обратите внимание, что стоимость данного товара может измениться при заказе. 
				
				else if pageIndex=='product_019'
					.product-sidebar__status.status-product-sidebar
						.status-product-sidebar__title Акционный товар 
						.status-product-sidebar__text Этот товар участвует в акции. С подробностями акции можно ознакомиться здесь.
					
				
				.product-sidebar__delivery Бесплатная доставка по Краснодару
					br
					| Доставка транспортными компаниями
					br
					| Доступен самовывоз
				
				.product-sidebar__offers
					- var offers = [{name: 'Оформить карту', text: 'Купить за 2 200 ₽/мес'}, {name: 'Купить в кредит', text: ''}, {name: 'Нашли дешевле', text: 'Гарантия низкой цены'}];
					each item, i in offers
						a(href="#").product-sidebar__offer.offer-product-sidebar
							.offer-product-sidebar__logo
								img(src="img/page-product-card/offers/"+(i+1)+".svg" alt="alt")

							.offer-product-sidebar__content
								.offer-product-sidebar__name= item.name
								if item.text !== ''
									.offer-product-sidebar__text= item.text
							.offer-product-sidebar__arrow
								+icon('chev-right')