.page-product__features
	.wrapper
		.product-features
			- var buts = ['Характеристики','Отзывы (4)','Расходники','Аналоги','Описание и файлы'];
			._tabs.product-features__tabs
				.product-features__overflow
					ul.tabs__buttons.product-features__list
						each item, i in buts
							li.product-features__item
								a(class=i==0 ? "product-features__link tab active" : "product-features__link tab" href='#')= item

				ul.tabs__container.product-features__container
					li.tab-content.product-features__content.active
						.product-features__table.table-product-features
							- var keys =  ['Напряжение аккумулятора','Максимальный крутящий момент','Количество скоростей работы','Max частота вращения шпинделя','Тип двигателя','Тип патрона','Диаметр зажимаемой оснастки','Режим сверления','Возможность быстрой смены патрона','Количество аккумуляторов','Емкость аккумулятора','Зарядное устройство в комплекте','Упаковка инструмента','Вес','Код товара','Напряжение аккумулятора','Максимальный крутящий момент','Количество скоростей работы','Max частота вращения шпинделя','Тип двигателя','Тип патрона','Диаметр зажимаемой оснастки','Режим сверления','Возможность быстрой смены патрона','Количество аккумуляторов','Емкость аккумулятора','Зарядноеустройство в комплекте','Упаковка инструмента','Вес','Код товара'];
							
							- var vals = ['12 в','28 Н/м','1','600 об/мин','щеточный','быстрозажимной','0.8-10 мм','Да','Да', '1','1.3  а*ч','Да','коробка','1.3 кг','100000079185','12 в','28 Н/м','1','600 об/мин','щеточный','быстрозажимной','0.8-10 мм','Да','Да', '1','1.3  а*ч','Да','коробка','1.3 кг','100000079185'];

								each key, i in keys
									.table-product-features__row
										.table-product-features__key
											.table-product-features__keyname= key
										.table-product-features__val= vals[i]
					
					li.tab-content.product-features__content.hidden
						.product-reviews
							.product-reviews__top
							
								.product-reviews__stats
									.product-reviews__rating.rating-product-reviews
										.rating-product-reviews__current 4,6
										.rating-product-reviews__overal /5
									
									.product-reviews__marks
										.product-reviews__mark 6 отзывов
										.product-reviews__mark 7 оценок

								.product-reviews__graphs.graphs-product-reviews
									- var stars = [{count: 5, progress: 85}, {count: 4, progress: 0}, {count: 3, progress: 0}, {count: 2, progress: 28}, {count: 1, progress: 0}];
										each star, i in stars
											.graphs-product-reviews__row
												.graphs-product-reviews__stars
													- for (var n=0; n < star.count; n++)
														.graphs-product-reviews__star
												.graphs-product-reviews__bar
													.graphs-product-reviews__progress(style=star.progress > 0 ?"width:" + star.progress + "%;" : false)
								
								.product-reviews__actions.actions-product-reviews
									a(href="#").btn.btn-lg.btn-order-check оставить отзыв
									.actions-product-reviews__bottom
										.actions-product-reviews__sort
											.actions-product-reviews__sorting Сортировка:
											select(name="name" id="" data-searchdisable="true" class="fstdropdown-select")
												- var sels = ['Новые', 'Положительные ', 'Отрицательные '];
													each item in sels
														option(value=item)= item
										
										label.light-label
											input(type="checkbox" name="name" class="light-label__input" checked)
											span.light-label__check
												+icon('check')
											span.light-label__text С фото

							.review__photos
								- for (var i=0; i < 2; i++)
									.review__photo._fit
										img._fit-img(src="img/review/thumbs/"+(i+1)+".jpg" alt="alt")


					li.tab-content.hidden
						.content
							| Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
					li.tab-content.product-features__content.hidden
						.content
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem doloribus consequatur, minima aspernatur pariatur. Itaque officiis rerum ea assumenda soluta, doloribus voluptates, minus id saepe quisquam sed ducimus! Maxime, modi.
					li.tab-content.product-features__content.hidden
						.content
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem doloribus consequatur, minima aspernatur pariatur. Itaque officiis rerum ea assumenda soluta, doloribus voluptates, minus id saepe quisquam sed ducimus! Maxime, modi.
