aside.multilevel-panel
	.multilevel-panel__label Каталог
	
	.mob-catalog-screen
		- var slides = ['Бренды', 'Акции', 'Распродажа'];
		+swiper('mob-catalog-screen__slider', true, false, false)
			each slide, i in slides
				a(href="#").swiper-slide.mob-catalog-screen__slide
					.mob-catalog-screen__img
						img(src="img/header-catalog/mob-catalog/"+(i+1)+".png" alt="alt")
					.mob-catalog-screen__name= slide
	
	.multilevel-panel__back
		button#menu-back Назад

	- var catalog = ['Электроинструмент','Ручной Инструмент','Хранение и транспортировка инструмента','Измерительные приборы','Пневмоинструмент','Все для сада','Строительное оборудование и инвентарь','Автотовары и оборудование','Станки','Грузоподъемное оборудование','Лестницы, стремянки и вышки','Масла и смазки','Генераторы (электростанции)','Стабилизаторы напряжения','Сварочные аппараты','Компрессоры','Клининговое оборудование','Климатическое оборудование','Крепеж','Электрика и освещение','Спецодежда и СИЗ','Расходные материалы и оснастка','Осенняя распродажа','Все категории'];

	- var mega = [['Плиткорезы и плиткорезные станки','Плиткорезы электрические','Плиткорезы ручные','Плиткорезы электрические настольные'], ['Камнерезные станки электрические'], ['Металлообрабатывающие станки','Заточные станки (точило)','Сверлильные станки','Токарные станки по металлу','Сверлильные станки на магнитной подошве','Гибочные станк','Пильные станки','Для резки','Ножницы металлообрабатывающие','Гильотины','Прессы','Приспособления для станков'], ['Деревообрабатывающие станки','Пильные станки (древообрабатывающие)','Шлифовальные станки','Строгальные станки','Фрезерные станки по дереву','Токарные станки','Стружкоотсосы сетевые','Стружкоотсосы','Станки деревообрабатывающие специальные'], ['Тиски'], ['Производственная мебель','Столы и верстаки','Приспособления для столов и верстаков'], ['Для станков','Для плиткорезов и плиткорезных станков','Для шлифовальных и заточных станков','Для фрезерных станков','Для гибочных станков','Для сверлильных станков','Для ленточных пил','Для точильных станков','Для токарных станков','Для шлифовальных (затирочных машин) по бетону','Для рейсмусов и станков','Для сверлильных станков на магнитной подушке','Для пильных станков','К строгальным станкам']];
	
	ul.multilevel-menu
		each item in catalog
			li.multilevel-menu__item.with-submenu
				a(href='/' class="multilevel-menu__link")= item
					+icon('chev-right')
				ul.multilevel-submenu
					each sub, i in mega
						li(class=sub.length > 1 ? "multilevel-submenu__item with-submenu" : "multilevel-submenu__item")
							a(href='/' class="multilevel-submenu__link")= sub[0]
								+icon('chev-right')
							ul.multilevel-submenu
								each link, n in sub
									if n > 0
										li.multilevel-submenu__item
											a(href='/' class="multilevel-submenu__link")= link
												+icon('chev-right')

	.mob-catalog-filter
		button(type="button").mob-catalog-filter__item.active по популярности
		button(type="button").mob-catalog-filter__item по алфавиту