//- фильтр каталога
.ctlg-filter
	form(action="#").accordion.ctlg-filter__list
		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Шуруповерты
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				.ctlg-filter__labels
					- for (var i=0; i <5 ; i++)
						label.ctlg-filter__label
							input(type="checkbox" name="product" class="ctlg-filter__checkbox")
							span.ctlg-filter__false-checkbox
							span.ctlg-filter__value= "Шуруповерты" + (i+1)

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Наличие
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				- var tags = ['в наличии', 'под заказ'];
					.tags.ctlg-filter__tags
						each tag in tags
							label.ctlg-filter__row-label
								input(type="checkbox" name="availability" class="ctlg-filter__checkbox")
								span.ctlg-filter__tag-value.tag= tag

					.ctlg-filter__select.ctlg-filter-location
						button(type="button").ctlg-filter-location__selected
							.ctlg-filter-location__value В любом из магазинов
							+icon('chev-down')
						
						.ctlg-filter-location__dropdown
							.ctlg-filter__labels
								- var labels = ['ул. Северная, 320', 'ул. Ростовское шоссе, 30/3', 'ул. Октябрьская, 170', 'ул. Ростовское шоссе, 30/3', 'ул. Октябрьская, 170', 'ул. Северная, 320', 'ул. Ростовское шоссе, 14/6', 'ул. Ростовское шоссе, 14/6', 'ул. Октябрьская, 170', 'ул. Ростовское шоссе, 30/3', 'ул. Октябрьская, 170', 'ул. Северная, 320', 'ул. Ростовское шоссе, 14/6', 'ул. Ростовское шоссе, 30/3', 'ул. Октябрьская, 170'];

								each lab, ind in labels
									label.ctlg-filter__label
										input(type="checkbox" name="product" class="ctlg-filter__checkbox")
										// input(type="checkbox" name="product" checked=ind==0 ? true: false class="ctlg-filter__checkbox")
										span.ctlg-filter__false-checkbox
										span.ctlg-filter__value= lab

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Цена, руб
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				.ctlg-filter__range
					.range
						.range-top
							.range__col
								.range__label от
								input(autocomplete="off" type="text" name="minval" value="0" class="range__input" data-minval)
							.range__col
								.range__label до
								input(autocomplete="off" type="text" name="maxval" value="150000" class="range__input" data-maxval)
						.range-slider(data-maxval="150000")
						//-data-units - указывать только для вывода в инпут единиц измерения

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Скидки
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				- var tags = ['товары со скидкой', 'уцененные товары'];
				.tags.ctlg-filter__tags
					each tag in tags
						label.ctlg-filter__row-label
							input(type="checkbox" name="sales" class="ctlg-filter__checkbox")
							span.ctlg-filter__tag-value.tag= tag

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Класс товара
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				- var tags = ['бытовой', 'профессиональный', 'полупрофессиональный'];
				.tags.ctlg-filter__tags
					each tag in tags
						label.ctlg-filter__row-label
							input(type="checkbox" name="product-class" class="ctlg-filter__checkbox")
							span.ctlg-filter__tag-value.tag= tag

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Тип питания
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				- var tags = ['От электросети', 'от Аккумулятора'];
				.tags.ctlg-filter__tags
					each tag in tags
						label.ctlg-filter__row-label
							input(type="checkbox" name="power-supply" class="ctlg-filter__checkbox")
							span.ctlg-filter__tag-value.tag= tag

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Бренды
				+icon('chev-down')
			.accordion__content.ctlg-filter__content

				label.ctlg-filter__inplabel
					input(autocomplete="off" type="text" name="" class="ctlg-filter__input" placeholder="Поиск")
					button(type="send" class="ctlg-filter__send")
						+icon('magnifier')
				
				.ctlg-filter__labels.ctlg-filter__labels--brands
					- var labels = [{name:'AEG', count: '12'},{name:'AL-KO', count: '5'},{name:'BLACK+DECKER', count: '30'},{name:'Bosch', count: '6'},{name:'Bosch Professional', count: '11'},{name:'Champion', count: '2'},{name:'DeWALT', count: '28'},{name:'Elitech', count: '41'},{name:'FIT', count: ''},{name:'Gardena', count: '5'},{name:'Gesipa', count: '8'},{name:'GreenWorks', count: '8'}, {name:'HIKOKI', count: '7'},{name:'Hitachi', count: '13'}];

					each lab, ind in labels
						label.ctlg-filter__label
							input(type="checkbox" name="brand" checked=ind==0 ? true: false class="ctlg-filter__checkbox")
							span.ctlg-filter__false-checkbox
							span.ctlg-filter__value= lab.name
								span.ctlg-filter__count= lab.count 

				button.ctlg-filter__show-all Показать все

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Напряжение аккумулятора
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				- var tags = ['10.8 в', '18 в', '20 в','12 в','14.4 в','24 в'];
				.tags.ctlg-filter__tags
					each tag in tags
						label.ctlg-filter__row-label
							input(type="checkbox" name="voltage" class="ctlg-filter__checkbox")
							span.ctlg-filter__tag-value.tag= tag

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Тип аккумулятора
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				- var tags = ['Li-Lon', 'Ni-Cd'];
				.tags.ctlg-filter__tags
					each tag in tags
						label.ctlg-filter__row-label
							input(type="checkbox" name="battery" class="ctlg-filter__checkbox")
							span.ctlg-filter__tag-value.tag= tag

		.accordion__item.ctlg-filter__item
			.accordion__link.ctlg-filter__link Мах мощность, Вт
				+icon('chev-down')
			.accordion__content.ctlg-filter__content
				.ctlg-filter__range
					.range
						.range-top
							.range__col
								.range__label от
								input(autocomplete="off" type="text" name="minval" value="25" class="range__input" data-minval)
							.range__col
								.range__label до
								input(autocomplete="off" type="text" name="maxval" value="2300" class="range__input" data-maxval)
						.range-slider(data-maxval="2300")
						//-data-units - указывать только для вывода в инпут единиц измерения

		- var items = [{title: 'Комплектация', name: 'complect', tags: ['Блистер', 'Кейс', 'Коробка', 'Сумка', 'Держатель для бит']},{title: 'Особенности', name: 'features', tags: ['Функция ”сверление” ', 'Встроенный фонарик']},{title: 'Тип патрона', name: 'patron', tags: ['Быстрозажимной ', 'Квадрат 1/2', 'Держатель бит', 'Держатель бит 1/4']},{title: 'Емкость аккумулятора', name: 'battery-volume', tags: ['1.2 Ач','1.5 Ач','1.3 Ач','2 Ач','2.2 Ач','4 Ач']},{title: 'Вес инструмента', name: 'weight', tags: ['Менeе 1 кг','Более 2 кг','от 1 до 2 кг']},{title: 'Гарантия производителя', name: 'warranty', tags: ['1 год','2 года','5 лет','1 год, 2 месяца', '3 года', '2 года, 1 месяц']}];

		each item in items
			.accordion__item.ctlg-filter__item
				.accordion__link.ctlg-filter__link= item.title
					+icon('chev-down')
				.accordion__content.ctlg-filter__content
					.tags.ctlg-filter__tags
						each tag in item.tags
							label.ctlg-filter__row-label
								input(type="checkbox" name=item.name class="ctlg-filter__checkbox")
								span.ctlg-filter__tag-value.tag= tag

//- END фильр каталога