.side-modal.for-order-modal#modal-for-order
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	
	.side-modal__inner
		.side-modal__title Под заказ

		include product-card-mini

		.side-modal__text Оставьте ваш номер телефона и наш менеджер свяжется с вами для оформления заказа

		form.form(action='#')
			.form__row
				.form__row-title.form__row-title--required Имя
				label.form__label
					input.form__input(type='text' name='name')
			.form__row
				.form__row-title.form__row-title--required Телефон*
				label.form__label
					input.form__input(type='text' name='name')
			.form__row
				.form__row-title E-mail
				label.form__label
					input.form__input(type='text' name='name')

			button(type="submit").btn.btn-lg.btn-order Отправить заявку

			.form__note *При входе и регистрации вы соглашаетесь с #[a(href="#") Политикой обработки персональных данных]

.side-modal.sale-modal#modal-sale(data-visible-class="sale-modal-visible")
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	
	.side-modal__inner
		.side-modal__title Следите за снижением цены на товар
		.side-modal__content
			.product-card.product-card--mini
				.product-card__img-wrap
					.billet.billet--action.billet--mini
					a(href="#").product-card__border
						span.product-card__img
							img(src="img/product-card/prod-sm.jpg" alt="alt")
				
				
				.product-card__chars
					.product-card__price
						a(href="#").product-card__price-block
							.product-price 14 729 ₽
							.product-price-sale 18 411₽
						
						a(href="#").product-bonus
							.product-bonus__val 99
							+icon('bonus')
				
					a(href="#").product-card__name Акк. безударная дрель-шуруповерт Bosch GSR 120 Li кейс 2x2 Ач 649861

					.product-card__rating-wrap
						.product-card__rating
							+crystalRating('4,0')


			.side-modal__text Оставьте свой адрес — как только цена на товар снизится, вы сразу об этом узнаете

			form.form(action='#')
				.form__row
					.form__row-title.form__row-title--required E-mail
					label.form__label
						input.form__input(type='text' name='name')
				.form__row
					.form__custom-policy
						label.form__custom
							input.form__check(type='checkbox' name='actions' value='chekbox1' checked)
							span.form__custom-chek
								+icon('check')
							span.form__policy Узнавать о других скидках и акциях

				button(type="submit").btn.btn-lg.btn-order Отправить заявку

				.form__note *При входе и регистрации вы соглашаетесь с #[a(href="#") Политикой обработки персональных данных]

.side-modal.availability-modal#modal-availability(data-visible-class="availability-modal-visible")
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	
	.side-modal__inner
		.side-modal__title Сообщить о наличии товара
		.side-modal__content
			.product-card.product-card--mini
				.product-card__img-wrap
					.billet.billet--action.billet--mini
					a(href="#").product-card__border
						span.product-card__img
							img(src="img/product-card/prod-sm.jpg" alt="alt")
				
				
				.product-card__chars
					.product-card__price
						a(href="#").product-card__price-block
							.product-price 14 729 ₽
							.product-price-sale 18 411₽
						
						a(href="#").product-bonus
							.product-bonus__val 99
							+icon('bonus')
				
					a(href="#").product-card__name Акк. безударная дрель-шуруповерт Bosch GSR 120 Li кейс 2x2 Ач 649861

					.product-card__rating-wrap
						.product-card__rating
							+crystalRating('4,0')


			.side-modal__text Оставьте свой адрес — как только цена на товар снизится, вы сразу об этом узнаете

			form.form(action='#')
				.form__row
					.form__row-title.form__row-title--required E-mail
					label.form__label
						input.form__input(type='text' name='name')
				.form__row
					.form__custom-policy
						label.form__custom
							input.form__check(type='checkbox' name='actions' value='chekbox1' checked)
							span.form__custom-chek
								+icon('check')
							span.form__policy Узнавать о других скидках и акциях

				button(type="submit").btn.btn-lg.btn-order Отправить заявку

				.form__note *При входе и регистрации вы соглашаетесь с #[a(href="#") Политикой обработки персональных данных]

.side-modal#modal-to-credit
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	
	.side-modal__inner
		.side-modal__title Купить в кредит

		form.form(action='#')
			.form__row
				.form__row-title.form__row-title--required Фамилия*
				label.form__label
					input.form__input(type='text' name='name')
			.form__row
				.form__row-title.form__row-title--required Имя*
				label.form__label
					input.form__input(type='text' name='name')
			.form__row
				.form__row-title.form__row-title--required Отчество*
				label.form__label
					input.form__input(type='text' name='name')
			.form__row
				.form__row-title.form__row-title--required Телефон*
				label.form__label
					input.form__input(type='text' name='name')
			.form__row
				.form__row-title E-mail
				label.form__label
					input.form__input(type='text' name='name')
			.form__row
				.form__row-title Город
				label.form__label
					input.form__input(type='text' name='name')

			button(type="submit").btn.btn-lg.btn-order Отправить заявку

			.form__note *При входе и регистрации вы соглашаетесь с #[a(href="#") Политикой обработки персональных данных]

.side-modal.confirm-side-modal#modal-confirm
	button(type="button").side-modal__back.button-back
		+icon('arrow-left')
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	
	.side-modal__inner
		.side-modal__title Подтвердите номер

		.side-modal__text Мы отправили вам код на номер #[div 8 961 123-45-67]

		form.form(action='#')
			.form__row
				.form__row-title.form__row-title--required Код
				label.form__label.form__label--error
					input.form__input(type='text' name='name')
					.form__error-message Введён неверный код

			.confirm-side-modal__return
				.form__row-title.form__row-title--required Код
				.form__note Код отправлен, запросить повторный можно #[div через 24 секунд]


			button(type="submit").btn.btn-lg.btn-order подтвердить телефон

			.form__note *При входе и регистрации вы соглашаетесь с #[a(href="#") Политикой обработки персональных данных]

.side-modal.registration-side-modal#modal-registration(data-visible-class="registration-modal-visible")
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	
	.side-modal__inner
		.side-modal__title Войти или зарегистрироваться

		.side-modal__text Мы отправим вам SMS-сообщение с кодом подтверждения.

		form.form(action='#')
			.form__row
				.form__row-title.form__row-title--required Телефон*
				label.form__label
					input.form__input(type='text' name='name')

			button(type="submit").btn.btn-lg.btn-order ПОЛУЧИТЬ КОД

			.side-modal__enter-link
				a(href="#").std-link Войти по e-mail и паролю

			.form__note *При входе и регистрации вы соглашаетесь с #[a(href="#") Политикой обработки персональных данных]

.side-modal.address-side-modal#modal-address(data-visible-class="address-modal-visible")
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	.side-modal__inner
		.side-modal__title В наличии #[span в 6 магазинах]
		form(action="#" class="form").address-side-modal__form
			.address-side-modal__select 
				select(name="locations" data-searchdisable="true" class="fstdropdown-select")
					- var opts = ['Краснодар','Армавир','Кропоткин','Тихорецк','Славянск-на-Кубани','Тимашевск','Белореченск'];
					each opt, i in opts
						option(value=i+1)= opt

			button(type="button")#full-map-open.side-modal__to-map.to-map-side-modal
				.to-map-side-moda__title На карте
				+icon('loc')



		.side-modal__content
			- var address = [{loc: 'ул. Северная, 320', aval: 18}, {loc: 'ул. Ростовское шоссе, 14/6', aval: 11}, {loc: 'ул. Ростовское шоссе, 30/3', aval: 8}]
			.address-list__items
				each item, i in address
					.address-list__item
						.address-list__img._fit
							.billet.billet--new= item.aval + " шт"
							img._fit-img(src="img/addresses/"+(i+1)+".jpg" alt="alt")
						.address-list__content
							.address-list__loc= item.loc
							.address-list__phones
								.address-list__phones-row
									a(href="tel:88612128253").address-list__phone 8 (861) 212-8-253
								.address-list__phones-row
									a(href="tel:89885942025").address-list__phone 8 (988) 594-20-25
							.address-list__shedule Пн-Вс: 8.00-20.00

							a(href="#").btn.btn-sm.btn-loc Как добраться

.side-modal.address-side-modal.address-side-modal--single#modal-address-single(data-visible-class="address-modal-single-visible")
	button(type="button").side-modal__back.button-back
		+icon('arrow-left')
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	.side-modal__inner
		.side-modal__title Магазин #[span ул. Северная, 320]
	
		.side-modal__content
			.address-list
				.address-list__items
					.address-list__item
						.address-list__img._fit
							.billet.billet--new 18 шт
							img._fit-img(src="img/addresses/single.jpg" alt="alt")
						.address-list__content
							.address-list__loc ул. Западный Обход, 34
							.address-list__phones
								.address-list__phones-row
									a(href="tel:88612128253").address-list__phone 8 (861) 212-8-253
								.address-list__phones-row
									a(href="tel:89885942025").address-list__phone 8 (988) 594-20-25
							.address-list__shedule Пн-Вс: 8.00-20.00

							a(href="#").btn.btn-sm.btn-loc Как добраться

.side-modal.availability-modal.availability-catalog-modal#modal-availability(data-visible-class="catalog-availability-modal-visible")
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	
	.side-modal__inner
		.side-modal__title Есть в наличии

		form(action="#" class="form").address-side-modal__form
			.address-side-modal__select 
				select(name="locations" data-searchdisable="true" class="fstdropdown-select")
					- var opts = ['Краснодар','Армавир','Кропоткин','Тихорецк','Славянск-на-Кубани','Тимашевск','Белореченск'];
					each opt, i in opts
						option(value=i+1)= opt

			button(type="button")#full-map-open.side-modal__to-map.to-map-side-modal
				.to-map-side-moda__title На карте
				+icon('loc')
		
		.side-modal__content
			.product-card.product-card--mini
				.product-card__img-wrap
					.billet.billet--action.billet--mini
						+icon('percents')
					a(href="#").product-card__border
						span.product-card__img
							img(src="img/product-card/prod-sm.jpg" alt="alt")
				
				
				.product-card__chars
					.product-card__price
						a(href="#").product-card__price-block
							.product-price 14 729 ₽
							.product-price-sale 18 411₽
						
						a(href="#").product-bonus
							.product-bonus__val 99
							+icon('bonus')
				
					a(href="#").product-card__name Акк. безударная дрель-шуруповерт Bosch GSR 120 Li кейс 2x2 Ач 649861

					.product-card__rating-wrap
						.product-card__rating
							+crystalRating('4,0')
			- var address = [{loc: 'ул. Северная, 320', aval: 18}, {loc: 'ул. Ростовское шоссе, 14/6', aval: 11}, {loc: 'ул. Ростовское шоссе, 30/3', aval: 8}]
			

			.address-list__items
				each item, i in address
					.address-list__item
						.address-list__img._fit
							.billet.billet--new= item.aval + " шт"
							img._fit-img(src="img/addresses/"+(i+1)+".jpg" alt="alt")
						.address-list__content
							.address-list__loc= item.loc
							.address-list__phones
								.address-list__phones-row
									a(href="tel:88612128253").address-list__phone 8 (861) 212-8-253
								.address-list__phones-row
									a(href="tel:89885942025").address-list__phone 8 (988) 594-20-25
							.address-list__shedule Пн-Вс: 8.00-20.00

							a(href="#").btn.btn-sm.btn-loc Как добраться

.side-modal.courier-side-modal.covered-modal#modal-courier(data-visible-class="courier-modal-visible")
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	.side-modal__inner
		.side-modal__title Доставка курьером

		.side-modal__content
			form(action="#" class="form")
				.address-side-modal__form
					.address-side-modal__select 
						select(name="locations" data-searchdisable="true" class="fstdropdown-select")
							- var opts = ['Краснодар','Армавир','Кропоткин','Тихорецк','Славянск-на-Кубани','Тимашевск','Белореченск'];
							each opt, i in opts
								option(value=i+1)= opt

					button(type="button")#full-map-open.side-modal__to-map.to-map-side-modal
						.to-map-side-moda__title На карте
						+icon('loc')
			
				.form__row.form__row--flex
					.courier-side-modal__container
						label.form__label
							input.form__input.form__input--bg(autocomplete="off" type='text' name='name' placeholder='Улица, дом')

						label.form__label
							input.form__input.form__input--bg(autocomplete="off" type='text' name='name' placeholder='кв/офис')
						
						label.form__label
							input.form__input.form__input--bg(autocomplete="off" type='text' name='phone' placeholder='этаж')
						
						label.form__label
								input.form__input.form__input--bg(autocomplete="off" type='text' name='email' placeholder='подъезд')

				.form__row
					.form__row-content
						- var kinds = [{name: 'Доставка по Краснодару', options: '<p>Доставка осуществляется с 12:00 до 18:00. Курьер уточнит удобную для вас дату доставки.</p><p>Обращаем Ваше внимание, что подъем и выгрузка товара на этаж не осуществляется.</p><p>*<br>Доставка бесплатна по Краснодару и пригороду от 2500 руб</p>', price: 'Бесплатно'}, {name: 'Служба доставки Ozon', options: false, price: 'от 300 ₽'}, {name:'СДЭК ', options: false, price: 'от 300 ₽'}, {name:'Доставка в пригород Краснодара, Тимашевска, Белореченска, Славянска-на-Кубани', options: false, price: 'Бесплатно'}];
						
						each item, ind in kinds
							.form__custom-policy
								.courier-side-modal__price= item.price
								label.form__custom
									input.form__check(type='radio' name='payment' value='chekbox1' checked=ind==0 ? true : false required='required')
									span.form__custom-chek
									span.form__policy= item.name

									if item.options
										span.form__hidden-text!= item.options

	button(type="button").btn.btn-lg.btn-select Выбрать

.side-modal.delivery-modal.covered-modal#modal-delivery(data-visible-class="delivery-modal-visible")
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	
	.side-modal__inner
		.side-modal__title Самовывоз 
			br
			| из пункта выдачи

		form(action="#" class="form").address-side-modal__form
			.address-side-modal__select 
				select(name="locations" data-searchdisable="true" class="fstdropdown-select")
					- var opts = ['Краснодар','Армавир','Кропоткин','Тихорецк','Славянск-на-Кубани','Тимашевск','Белореченск'];
					each opt, i in opts
						option(value=i+1)= opt

			button(type="button")#full-map-open.side-modal__to-map.to-map-side-modal
				.to-map-side-moda__title На карте
				+icon('loc')
		
		.side-modal__content
			- var address = [{loc: 'Пункта выдачи Ozon<br>ул. Северная, 320', aval: 18}, {loc: 'Магазин<br>ул. Ростовское шоссе, 14/6', aval: 11}, {loc: 'Магазин<br>ул. Ростовское шоссе, 14/6', aval: 11}, {loc: 'Магазин<br>ул. Октябрьская, 170', aval: 8}]
			

			.address-list__items
				each item, i in address
					.address-list__item
						.address-list__img._fit
							label.light-label
								input(type="checkbox" name="name" class="light-label__input")
								span.light-label__check
									+icon('check')
							img._fit-img(src="img/addresses/"+(i+1)+".jpg" alt="alt")
						
						.address-list__content
							.address-list__loc!= item.loc
							.address-list__shedule Пн-Вс: 8.00-20.00

	button(type="button")#delivery-points-list-close.btn.btn-lg.btn-select Выбрать



.side-modal.delivery-point-modal.covered-modal#modal-delivery-point(data-visible-class="delivery-point-modal-visible")
	button(type="button").side-modal__close.button-close
		+icon('ctlg-close')
	.side-modal__inner
		.side-modal__title Магазин Кубань инструмент
	
		.side-modal__content
			- var address = [{loc: 'Магазин<br>ул. Ростовское шоссе, 14/6', aval: 11}];
			
			.address-list__items
				each item, i in address
					.address-list__item
						.address-list__img._fit
							img._fit-img(src="img/addresses/"+(i+1)+".jpg" alt="alt")
						
						.address-list__content
							.address-list__loc!= item.loc
							.address-list__shedule Пн-Вс: 8.00-20.00

	button(type="button")#delivery-point-close.btn.btn-lg.btn-select Выбрать